.for-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #19282f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.for-container h2 {
  text-align: center;
}

.for-container input {
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  height: 20px;
}

.for-container textarea {
  width: 100%;
  resize: none;
}

.for-container .button {
  cursor: pointer;
  background-color: #275063;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 30px;
  height: 40px;
  border: none;
}

.for-container .button:hover {
  background-color: #19323e;
}
